<!DOCTYPE html>

<html>

   <head>
      <title>URL Shortener</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="/public/style.css" rel="stylesheet" type="text/css">
     <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700&display=swap" rel="stylesheet">
   </head>

   <body>
      <div class="container">
        <h2>API Project: URL Shortener Microservice</h2>
        <h3>User Story: </h3>
        <ol>
          <li>Via the form below, I can POST a URL to <code>https://robbyxps-fcc-manage-packages-03-4.glitch.me/api/shorturl/new</code> and I will receive a shortened URL in the JSON response.<br><strong>Example : </strong><code>{"original_url":"https://www.freecodecamp.org","short_url":20200}</code></li>
          <li>If I pass an invalid URL such as <code>www.freecodecamp</code>, the JSON response will contain an error like <code>{"error":"invalid URL"}</code></li>
          <li>When I visit the shortened URL, it will redirect me to my original link.<br><strong>Example : </strong><code><a href="https://robbyxps-fcc-manage-packages-03-4.glitch.me//api/shorturl/20200">
          https://robbyxps-fcc-manage-packages-03-4.glitch.me/api/shorturl/20200</a></code><br> will redirect to <code>https://www.freecodecamp.org/</code></li>
        </ol>
        
        <form action="api/shorturl/new" method="POST">
          <label for="url_input">URL to be shortened</label>
          <input id="url_input" type="text" name="url" value="https://www.freecodecamp.org">
          <input type="submit" value="POST URL">
        </form>
      </div>
     
      <div class="footer">
        <p>
          app created by <a href="https://twitter.com/EastRobby">Robby East</a>
          as part of microservices project by <a href="https://learn.freecodecamp.org/apis-and-microservices/apis-and-microservices-projects/url-shortener-microservice">freeCodeCamp</a>
        </p>
      </div>
   </body>


</html>